asks==2.4.12
trio==0.19.0
asyncclick==8.0.3.1
python-dotenv==0.19.2
loguru==0.5.3
pytest==7.1.1
pytest-asyncio==0.18.2
quart==0.16.3
quart-trio==0.9.1
pydantic==1.9.0
aioredis==2.0.1
trio-asyncio==0.12.0